@model IEnumerable<CitizenConnect.Models.ReportView>

@{
    ViewBag.Title = "ThankYou";
}


<div class="panel panel-default" id="panelsPanel">
    <div class="panel-heading" id="panelHeading">
        <h3 class="panel-title">Reports</h3>
    </div>
    <div class="panel-body">

        <h2 id="thankyou">
            Thank you.  Your report has been submitted.
        </h2>
        <div class="col-sm-12">
            <h6 id="submitButton"><button>@Html.ActionLink("Create Another Report", "Create", "ReportViews")</button></h6>
        </div>
        <div class="col-sm-12">
            <h6 id="submitButton"><button>@Html.ActionLink("Home", "Index", "Home")</button></h6>
        </div>
    </div>
</div>
