@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>DESCRIPTION OF PROJECT.</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Melissa Hug</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 headshot">
                @* insert headshot *@
                <img src="~/Images/YOUR-PICTURE.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6 bio">
                <p>As one that constantly looks for ways to reinvent and improve, Melissa made the decision to change careers from non-profit/social service to Information Technology. Initially, learning to code was a way to add skills and remain competitive. However, it quickly turned into her primary interest and she began using online tutorials to learn. Currently she is a Software Engineering Apprentice with We Can Code IT boot camp in Cleveland, Ohio.</p>
                <p>Born and raised in Cleveland, she has lived in New Orleans, Louisiana, Gettysburg, Pennsylvania and Philadelphia, Pennsylvania. When not creating sites and programs, Melissa is focused on her first love - travel. Her two favorite places are Toronto, Canada and Paris, France and she looks forward to having a vacation home in both locations.</p>
            </div>

            <div class="col-md-3 social-links-col">
                <ul class="social-links fa-ul">
                    <li><a target="_blank" href="https://www.linkedin.com/in/melissahughes216"><i class="fa fa-linkedin fa-li"></i>LinkedIn</a></li>
                    <li><a target="_blank" href="https://github.com/melissahug"><i class="fa fa-github fa-li"></i>GitHub</a></li>
                    <li><a target="_blank" href="https://www.melissahughes.net/"><i class="fa fa-folder-open fa-li"></i>Portfolio</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Christopher Betteley</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 headshot">
                @* insert headshot *@
                <img src="~/Images/YOUR-PICTURE.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6 bio">
                Bio here
            </div>

            <div class="col-md-3 social-links-col">
                <ul class="social-links fa-ul">
                    <li><a target="_blank" href="https://www.linkedin.com/in/christopherbetteley"><i class="fa fa-linkedin fa-li"></i>LinkedIn</a></li>
                    <li><a target="_blank" href="https://github.com/ChristopherMBetteley"><i class="fa fa-github fa-li"></i>GitHub</a></li>
                    <li><a target="_blank" href="https://YOUR-PORTFOLIO"><i class="fa fa-folder-open fa-li"></i>Portfolio</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sarah Kaminski</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 headshot">
                <img src="~/Images/sarah-kaminski.jpg" />
            </div>
            <div class="col-md-6 bio">
                Bio here
            </div>

            <div class="col-md-3 social-links-col">
                <ul class="social-links fa-ul">
                    <li><a target="_blank" href="https://www.linkedin.com/in/sarah-kaminski"><i class="fa fa-linkedin fa-li"></i>LinkedIn</a></li>
                    <li><a target="_blank" href="https://github.com/sareduhh"><i class="fa fa-github fa-li"></i>GitHub</a></li>
                    <li><a target="_blank" href="https://YOUR-PORTFOLIO"><i class="fa fa-folder-open fa-li"></i>Portfolio</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Darín Meraz</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 headshot">
                <img src="~/Images/darin-meraz.jpg" />
            </div>
            <div class="col-md-6 bio">
                Bio here
            </div>

            <div class="col-md-3 social-links-col">
                <ul class="social-links fa-ul">
                    <li><a target="_blank" href="https://www.linkedin.com/in/dmeraz"><i class="fa fa-linkedin fa-li"></i>LinkedIn</a></li>
                    <li><a target="_blank" href="https://github.com/dmeraz"><i class="fa fa-github fa-li"></i>GitHub</a></li>
                    <li><a target="_blank" href="https://dmeraz.github.io/"><i class="fa fa-folder-open fa-li"></i>Portfolio</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Stephen Page</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 headshot">
                <img src="~/Images/stephen-page.jpg" class="img-responsive"/>
            </div>
            <div class="col-md-6 bio">
                <p>Stephen has rediscovered his passion for writing software. The creation of programs of instructions for systems and testing and verification match with his drive for detail and clarity.</p>
                <p>He has over 15 years finding solutions when computers and mobile devices are not working as expected. The process of replication, isolation and resolution benefits from his eye for detail. Working in a team environment required ongoing communication and feedback.</p>
                <p>Previously he had 10 years in lighting design and theater technology. Producing art by committee requires strong teamwork and communication to meet the immovable deadline of opening night.</p>
                <p>Stephen spends his spare time with his 12 year old rescued shepherd mix and weaving on one of his several looms. He has been involved with the Medina Spinning & Weaving Guild for eight years and has been producing their newsletter for most of that time and maintaining the website for the last five years.</p>
            </div>

            <div class="col-md-3 social-links-col">
                <ul class="social-links fa-ul">
                    <li><a target="_blank" href="https://www.linkedin.com/in/stephenppage"><i class="fa fa-linkedin fa-li"></i>LinkedIn</a></li>
                    <li><a target="_blank" href="https://github.com/Stephen2Page"><i class="fa fa-github fa-li"></i>GitHub</a></li>
                    <li><a target="_blank" href="https://stephen2page.github.io/Portfolio/"><i class="fa fa-folder-open fa-li"></i>Portfolio</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
