@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="panel panel-default">
    <div class="panel-heading">Melissa Hug</div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Christopher Betteley</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Sarah Kaminski</div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Darin Meraz</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Stephen Page</h3>
    </div>
    <div class="panel-body">
        <ul class="social-links">
            <li><a href="https://www.linkedin.com/in/stephenppage"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
            <li><a href="https://github.com/Stephen2Page"><i class="fa fa-github"></i>GitHub</a></li>
        </ul>
    </div>
</div>
<p class="heart">
    Crafted in <span class="fa fa-heart fa-2x animated pulse"></span> Cleveland
</p>
