
@{
    ViewBag.Title = "Lookup";
}

<h2>Lookup</h2>

      //
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-UEiyhrkeVKo2UfwX3WNKqToGvgL9yFc&libraries=places"></script>
<script src="/js/lookup_tool.js"></script>
<script type='text/javascript'>
  //<![CDATA[
    $(function() {
      var autocomplete = new google.maps.places.Autocomplete(document.getElementById('address'));
      $("#address").val(convertToPlainString($.address.parameter('address')));
      if ($("#address").val())
        addressSearch();

      $('#address-search').click(function(){
        addressSearch();
      });
      $("#results-nav a").click(function(e) {
        e.preventDefault();
        var scroll_to = $($("#" + e.target.id).attr('href'));
        $('html, body').animate({
            scrollTop: scroll_to.offset().top
        }, 1000);
      });

      $('#find-me').click(function(){
        findMe();
        return false;
      });

      $(":text").keydown(function(e){
          var key =  e.keyCode ? e.keyCode : e.which;
          if(key === 13) {
              $('#address-search').click();
              return false;
          }
      });
    });
  //]]>
</script>
