
@{
    ViewBag.Title = "Resources";
}



<body id="resourcePage">
    <div class="background-image" id="image1">
    </div>
    <div class="container-fluid1" >
        <div id="resourcePagePanels">
            <div class="title">
                <h2 id="titleResource">resources</h2>
            </div>
            <div class="panel panel-default" id="panelsPanel">
                <div class="panel-heading" id="panelHeading">
                    <h3 class="panel-title">Cleveland Links</h3>
                </div>
                <div class="panel-body">
                    <a target="_blank" href="http://www.clevelandcitycouncil.org" id="linksColor">Cleveland City Council</a>
                    <br />
                    <a target="_blank" href="http://www.city.cleveland.oh.us" id="linksColor">City of Cleveland, OH</a>
                </div>
            </div>
            <div class="panel panel-default" id="panelsPanel">
                <div class="panel-heading" id="panelHeading">
                    <h3 class="panel-title">Cleveland Events</h3>
                </div>
                <div class="panel-body">
                    <a target="_blank" href="http://www.thisiscleveland.com/events/" id="linksColor">This Is Cleveland Events</a>
                    <br />
                    <a target="_blank" href="http://www.cleveland.com/events/" id="linksColor">Cleveland Events</a>
                    <br />
                    <a target="_blank" href="http://www.clevescene.com/cleveland/EventSearch" id="linksColor">Cleveland Scene Events</a>
                </div>
            </div>
            <div class="panel panel-default" id="panelsPanel">
                <div class="panel-heading" id="panelHeading">
                    <h3 class="panel-title">Cleveland Volunteering</h3>
                </div>
                <div class="panel-body">
                    <a target="_blank" href="http://www.greaterclevelandvolunteers.org" id="linksColor">Greater Cleveland Volunteers</a>
                </div>
            </div>
            <div class="panel panel-default" id="panelsPanel">
                <div class="panel-heading" id="panelHeading">
                    <h3 class="panel-title">Cleveland Metroparks</h3>
                </div>
                <div class="panel-body">
                    <a target="_blank" href="http://www.clevelandmetroparks.com" id="linksColor">Cleveland Metroparks</a>
                    <br />
                    <a target="_blank" href="http://www.clevelandmetroparks.com/Zoo" id="linksColor">Cleveland Metroparks Zoo</a>
                </div>
            </div>
        </div>
            </div>
     







    @* THIS IS FOR WHEN THERE ARE ELECTIONS-- USERS CAN SEE WHERE THEY CAN VOTE BY ENTERING ADDRESS *@
    @*<iframe width="500" height="950" src="https://elections.withgoogle.com/us/pollingplace"></iframe>*@

</body>
