
@{
    ViewBag.Title = "Resources";
}

<h2 id="titleResource">resources</h2>

<body id="resourcePage">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cleveland Links</h3>
        </div>
        <div class="panel-body">
            <a target="_blank" href="http://www.clevelandcitycouncil.org">Cleveland City Council</a>
            <br/>
            <a target="_blank" href="http://www.city.cleveland.oh.us">City of Cleveland, OH</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cleveland Events</h3>
        </div>
        <div class="panel-body">
            <a target="_blank" href="http://www.thisiscleveland.com/events/">This Is Cleveland Events</a>
            <br/>
            <a target="_blank" href="http://www.cleveland.com/events/">Cleveland Events</a>
            <br/>
            <a target="_blank" href="http://www.clevescene.com/cleveland/EventSearch">Cleveland Scene Events</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cleveland Volunteering</h3>
        </div>
        <div class="panel-body">
            <a target="_blank" href="http://www.greaterclevelandvolunteers.org">Greater Cleveland Volunteers</a> 
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cleveland Metroparks</h3>
        </div>
        <div class="panel-body">
            <a target="_blank" href="http://www.clevelandmetroparks.com">Cleveland Metroparks</a>
            <br/>
            <a target="_blank" href="http://www.clevelandmetroparks.com/Zoo">Cleveland Metroparks Zoo</a>
        </div>
    </div>
   
   
   
    
   




    @* THIS IS FOR WHEN THERE ARE ELECTIONS-- USERS CAN SEE WHERE THEY CAN VOTE BY ENTERING ADDRESS *@
    @*<iframe width="500" height="950" src="https://elections.withgoogle.com/us/pollingplace"></iframe>*@

</body>
