
@{
    ViewBag.Title = "Resources";
}

<h2>Resources</h2>

<body>

    <a href="http://www.clevelandcitycouncil.org">Cleveland City Council</a>
    <br/>
    <a href="http://www.city.cleveland.oh.us">City of Cleveland, OH</a>
    <br/>
    <a href="http://www.thisiscleveland.com/events/">This Is Cleveland Events</a>
    <br/>
    <a href="http://www.cleveland.com/events/">Cleveland Events</a>
    <br/>
    <a href="http://www.clevescene.com/cleveland/EventSearch">Cleveland Scene Events</a>
    <br/>
    <a href="http://www.greaterclevelandvolunteers.org">Greater Cleveland Volunteers</a>
    <br/>
    <a href="http://www.clevelandmetroparks.com">Cleveland Metroparks</a>
    <br/>
    <a href="http://www.clevelandmetroparks.com/Zoo">Cleveland Metroparks Zoo</a>
    <br/>




    @* THIS IS FOR WHEN THERE ARE ELECTIONS-- USERS CAN SEE WHERE THEY CAN VOTE BY ENTERING ADDRESS *@
    @*<iframe width="500" height="950" src="https://elections.withgoogle.com/us/pollingplace"></iframe>*@

</body>
