
html, body{
    overflow-y:hidden;
    padding:0;
    margin:0;
}
html{
    display:flex;
}

div.container-fluid{
    margin-top:0;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    width:1139px;
    height:792px;
    background-position:center;
    margin-left:0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h2 {
    text-align: center;
    font-size:22px;
    color:black;
}
h6#submitButton {
    text-align:center;
    font-size: 15px;
    color:black;
    
  }

button {
    border-radius:6px;
    padding:10px;
}

h1#appName {
    text-align:center;
    font-size:70px;
    color:black;
    /*margin-left: 150px;
    margin-right: 150px;*/
    margin-top: 100px;
    font-family: 'Lalezar', cursive;
    /*opacity:1.7;*/
    }
div#landingPage{
    background-size:cover;
    background-repeat:no-repeat;
    width:1366px;
    height:721px;
    background-position:center;
    position:fixed;
    margin-top:0;
    margin-bottom:0;
}

/*div#landingPage*/.background-image {
    background-image: url('Image/smartphone.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    /*border-radius:5px;*/
    width:1366px;
    height:721px;
    background-position:center;
    position:fixed;
    margin-top:0;
    margin-bottom:0;
    /*margin-right:35px;*/
    opacity:.70;
    }
#copyRight{
    position:fixed;
    margin-top:560px;
    color:white;
    margin-left:10px;
}


