
﻿html, body {
}
html{
  display:flex;
}

/*.layoutBody {
height:100%;
width:100%;
}*/
/*﻿div#homePage{
    overflow-y:hidden;
    padding:0;
    margin:0;
}*/
.row {
   margin:0;
}


.container-fluid{
    margin-top:0;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    width:100%;
    height:100%;
    background-position:center;
    margin-left:0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h2 {
    text-align: center;
    font-size:22px;
    color:black;
}
h6#submitButton {
    text-align:center;
    font-size: 15px;
    color:black;
    
  }

button {
    border-radius:6px;
    padding:10px;
}

#appName {
    text-align:center;
    font-size:70px;
    color:#35324c;
    margin-top: 100px;
    font-family: 'Lalezar', cursive;
    }
#landingPage{
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    background-position:center;
    position:relative;
    margin-top:0;
    margin-bottom:60px;
}
/*LANDING PAGE IMAGE*/
.background-image {
    background-image: url('Image/smartphone.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    background-position:center;
    position:fixed;
    margin-top:0;
    margin-bottom:0;
    } 
.col-sm-12{
    position:relative;
    margin-left:7%;
    margin-right:7%;
    margin-bottom:0;
    margin-top:0;
    padding:0;
    height:100%;
    width:100%;
   
}
#buttonContext{
 font-family: 'Lalezar', cursive;
 font-size:30px;
 color:#35324c;
}
.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/*LANDING PAGE IMAGE*/
#image {
    opacity:.50;
    }
.resourcePage{
   
}
/*RESOURCE PAGE IMAGE*/
#image1 {
    opacity:.50;
    }

/*RESOURCE PAGE PANELS*/
#resourcePagePanels{
    margin-top:70px;
    margin-left:10%;
    margin-right:10%;
    width:95%;
    position:relative;
    margin-bottom:10%;
    box-sizing:content-box;
}
/*#copyRight{
    color:white;
    margin-left:10px;
}*/


body#WardLookup {
    margin-top: 50px;
    padding-top:50px;

}
div#wardInput {
    text-align:center;
}

#titleResource{
    font-family: 'Lalezar', cursive;
    text-align:center;
    font-size:70px;
    color:#35324c;
}

#panelsPanel{
    background-color:#dfd7c6;
    border:none;
}
#panelHeading{
    background-color:#c13d50;
    color:white;
    font-family: 'Lalezar', cursive;
}
.panel-title{
    font-size:30px;
}
#navvyNav{
    background-color:#35324c;
    font-family: 'Lalezar', cursive;
}
#linksColor{
    color:#35324c;
}
#linksColor:hover {
    color:#dc98a4;
}

#map_canvas {
 width: 500px;
 height: 500px;
}

#current {
 padding-top: 25px;
}

