@model CitizenConnect.Models.ReportType

@{
    ViewBag.Title = "Details";
}

<body id="reportTypes">
<div class="panel panel-default" id="panelsPanel">
    <div class="panel-heading" id="panelHeading">
        <h3 class="panel-title">Details</h3>
    </div>
    <div class="panel-body">
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ReportTypeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReportTypeName)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ReportTypeID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</div>
</body>